.container {
  background-color: #e2e2e2;
  padding: 20px;
}

.title {
  font-size: 20px;
  color: #012d3a;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.cards {
  /* display: grid;
  grid-template-columns: auto auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
