.container {
  margin-bottom: 20px;
}

.title {
  font-size: 25px;
  margin: 20px 0px;
  font-family: "Stag";
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: auto;
  grid-gap: 10px;
  /* grid-template-columns: auto auto auto auto auto auto; */
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.seeMore {
  cursor: pointer;
  color: #195e73;
  margin-right: 2.5vw;
}

.link {
  text-decoration: none;
}
