.container {
  margin-bottom: 30px;
}

.title {
  font-size: 25px;
  margin: 20px 0px;
  font-family: "Stag";
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.seeMore {
  cursor: pointer;
  color: #195e73;
  margin-right: -6vw;
}

.link {
  text-decoration: none;
}
