.container {
  margin-bottom: 100px;
}

.title {
  font-size: 25px;
  font-weight: bold;
  margin: 20px 0px;
}

.stores {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
}

.link {
  text-decoration: none;
}
