.container {
  margin-bottom: 20px;
}

.title {
  font-size: 25px;
  font-weight: bold;
  margin: 20px 0px;
  color: #747474;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  grid-template-rows: auto;
  grid-gap: 10px;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.seeMore {
  cursor: pointer;
  color: #195e73;
}

.link {
  text-decoration: none;
}
