.container {
  margin-top: 100px;
}

.title {
  font-size: 25px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: auto;
  grid-gap: 5px;
}
