.container {
  height: fit-content;
  padding: 0 10.5vw;
}

.checkoutContainer {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fcfcfc;
  padding-bottom: 50px;
}

.checkoutTitle {
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
}

.mainSection {
  display: flex;
  justify-content: center;
}

.cart {
  height: fit-content;
  background-color: #fff;
  margin-top: 20px;
  margin-left: 20px;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.sPContainer {
  min-height: 100vh;
}

.signinContainer {
  min-height: 100vh;
  background-color: #fcfcfc;
  padding: 50px 10.5vw;
  display: flex;
  justify-content: center;
}

.PDcontainer {
  height: fit-content;
  padding: 0 10.5vw;
  margin-bottom: 50px;
}
