.container {
  height: fit-content;
  padding: 0 10.5vw;
}

.title {
  font-size: 25px;
  margin-top: 20px;
  font-weight: bold;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-bottom: 50px;
}
