.container {
  height: fit-content;
  padding: 0 10.5vw;
}

.title {
  font-size: 25px;
  margin-top: 20px;
  font-weight: bold;
  color: #747474;
}

.grid {
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: auto;
  grid-gap: 10px; */

  display: grid;
  grid-template-columns: auto auto auto auto;

  margin-bottom: 50px;
  margin-top: 20px;
}

.link {
  text-decoration: none;
}
