.container {
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo {
  width: 120px;
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  cursor: pointer;
  position: relative;
}

.category:hover {
  background-color: rgb(214, 214, 214);
  transition: 0.5s ease;
}

.categoryBackground {
  background-color: rgb(214, 214, 214);
}

.category p {
  font-size: 18px;
  color: #195e73;
}

.hamburger {
  width: 20px;
  margin-right: 10px;
  color: #195e73;
}

.downArrow {
  width: 15px;
  margin-left: 10px;
  margin-top: 1px;
  color: #195e73;
}

.searchBarSection {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.searchBar {
  width: 466px;
  height: 32px;
  padding: 5px 10px;
  outline: none;
  border: none;
  border-radius: 10px 0px 0px 10px;
  box-shadow: -4px 5px 2px 0px rgba(25, 94, 115, 0.24);
  -webkit-box-shadow: -4px 5px 2px 0px rgba(25, 94, 115, 0.24);
  -moz-box-shadow: -4px 5px 2px 0px rgba(25, 94, 115, 0.24);
  z-index: 1;
}

.searchResult {
  position: absolute;
  height: fit-content;
  max-height: 500px;
  width: fit-content;
  overflow: scroll;
  width: 100%;
  background-color: #ffff;
  top: 45px;
  z-index: 2;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.searchResult::-webkit-scrollbar {
  display: none;
}

.searchRContainer {
  margin: 20px;
  height: 100%;
}

.search {
  background-color: #195e73;
  height: 42px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0px 10px 10px 0px;
  box-shadow: -2px 2px 2px 1px rgba(25, 94, 115, 0.24);
  -webkit-box-shadow: -3px 4px 2px 1px rgba(25, 94, 115, 0.24);
  -moz-box-shadow: -2px 2px 2px 1px rgba(25, 94, 115, 0.24);
}

.searchIcon {
  width: 15px;
  color: #ffff;
}

.hr {
  background-color: rgb(201, 201, 201);
  height: 1px;
}

.signIn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100px;
  cursor: pointer;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-width: 140px;
  width: fit-content;
  cursor: pointer;
  position: relative;
}

.userDd {
  height: fit-content;
  background-color: rgb(214, 214, 214);
  position: absolute;
  top: 70px;
  width: 100%;
  z-index: 3;
}

.containerUser {
  margin: 5px;
  height: 90%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}

.containerUser p {
  background-color: white;
  height: fit-content;
  width: 100%;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
}

.containerUser p:hover {
  background-color: rgb(234, 234, 234);
  transition: 0.5s ease;
}

.signIn:hover,
.cart:hover,
.user:hover {
  background-color: rgb(237, 237, 237);
  transition: 0.5s ease;
}

.signIn p,
.user p {
  font-size: 18px;
  color: #195e73;
  margin-right: 5px;
}

.lockIcon,
.userIcon {
  margin: 0px 5px;
  color: #195e73;
}

.cart {
  color: #195e73;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffff;
  height: 100%;
  width: 7vw;
  min-width: 100px;
  cursor: pointer;
  position: relative;
}

.cartTitle {
  font-size: 18px;
  color: #195e73;
}

.cartIcon {
  font-size: 20px;
  margin: 0px 5px;
  color: #195e73;
}

.floatingcart {
  background-color: rgb(233, 233, 233);
  border: 8px solid rgb(214, 214, 214);
  position: absolute;
  top: 70px;
  right: 0px;
  height: fit-content;
  width: 20vw;
  min-width: 11vw;
  z-index: 3;
}

.link {
  text-decoration: none;
}

.section2 {
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.section2 p {
  color: rgb(104, 103, 103);
}

.new,
.popular,
.hotDeals,
.help {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}

.icon {
  margin-right: 5px;
  color: rgb(104, 103, 103);
}

.active {
  background-color: rgb(214, 214, 214);
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}
