.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
  height: 80px;
  padding: 20px 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 1px 3px 9px -3px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 1px 3px 9px -3px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 1px 3px 9px -3px rgba(0, 0, 0, 0.45);
  margin-right: 20px;
  margin-bottom: 20px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  padding: 10px;
}

.img {
  width: 100%;
}

.text {
  width: 500px;
}

.title {
  font-size: 18px;
  margin-bottom: 10px;
}

.textContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
}

.plus {
  color: #e80c5b;
  margin-right: 2px;
}

.textContainer p {
  color: #e80c5b;
}

.textContainer span {
  color: grey;
  font-size: 12px;
}

.btn {
  margin-right: 10px;
  width: 200px;
  display: flex;
  justify-content: flex-end;
}
