.btn {
  padding: 5px 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: #fff;
  color: rgb(24, 149, 252);
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 16px -1px rgba(0, 0, 0, 0.39);
  box-shadow: 0px 4px 16px -1px rgba(0, 0, 0, 0.39);
  cursor: pointer;
}
