.mainContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 250px;
  height: fit-content;
  margin: 10px;
}

.img {
  width: 80px;
}

.text {
  margin-left: 10px;
}

.price {
  font-weight: bold;
}

.size {
  font-weight: bold;
}

.deleteIcon {
  font-size: 25px;
  color: #eb3333;
  cursor: pointer;
}
