.mainContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-around;
  height: fit-content;
  margin: 10px;
}

.name {
  font-size: 20px;
  width: fit-content;
}

.img {
  width: 80px;
  height: 100px;
}

.text {
  margin-left: 10px;
  /*display: flex;*/
  align-items: center;
  width: 100%;
  display: grid;
  grid-template-columns: 300px auto auto auto;
}

.price {
  font-weight: bold;
  color: #e80c5b;
  margin: 0 20px;
  font-size: 18px;
}

.size {
  font-weight: bold;
  margin: 0 20px;
  font-size: 18px;
}

.quantity {
  font-weight: bold;
  margin: 0 20px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteIcon {
  font-size: 25px;
  color: #eb3333;
  cursor: pointer;
}
